# fly.toml app configuration file generated for wandering-meadow-4571 on 2025-11-16T19:50:09+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wandering-meadow-4571'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 9797
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
